* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.btn {
  background-color: #a818f0;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.7rem;
}

.red-btn {
  background-color: #f44336;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sessions {
  width: 300px;
  background-color: #f0f0f0;
  padding: 1rem;
  overflow-y: auto;
}

.sessions h2 {
  margin-bottom: 1rem;
}

.search-bar {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
}


.session-list {
  list-style-type: none;
}

.session-list li {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.current-session{
  color: #a818f0;
}

.session-list li:hover {
  background-color: #e0e0e0;
}

.session-title {
  font-weight: bold;
}

.session-timestamp {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  opacity: .6;
}


.session-timestamp button{
  border: none;
  background: none;
  cursor: pointer;
}

.session-timestamp button img{
  width: 1rem;
}

.new-session-prompt{
  flex-grow: 1;
  height: max-content;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
}

.new-session-prompt input {
  flex-grow:2;

  border-radius: .5rem;
  height: 3rem;
  border: 2px solid #333;
  font-size: x-large;
  padding: .5rem;
}

.new-session-prompt h1{
  font-size: 3.5rem;
  padding: .5rem;
}

.new-session-prompt div{
  display: flex;
  padding: 0rem 10%;
  flex-grow: 1;
  width: 70%;
}


.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: fit-content;
  max-width: 90%;
  position: relative;
}


.user-message {
  background-color: #e6f2ff;
  text-align: right;
  align-self: end;
}

.file-message{
  background-color: #e6f2ff;
  align-self: end;
}
.file-message >md-block > div{
  max-height: 20rem !important;
  height: 20rem !important;
  overflow: scroll ;
}

.bot-message {
  background-color: #f0f0f0;
}

md-block{
  padding: 1.3rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

md-block > *{
  padding: .2rem;
  line-height: 1.4rem;
}

md-block li{
  margin-left: 2rem;
}

md-block > h1{
  padding-top: 1rem;
  padding-bottom: .5rem;
}

md-block > h2{
  padding-top: .5rem;
}

md-block > :first-child{
  padding-top: 0;
}

.copy-btn{
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background: none;
  font-size: 20px;
  padding: .23rem .5rem;
  cursor: pointer;
}

table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr{
  background: #009879;
  color: #ffffff;
  text-align: left;
}

tr > th{
  background: #b463dd;
  border-bottom: 1px solid black;
  font-size: large;
}


th, td{
  padding: 12px 15px;
}

tbody tr{
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even){
  background: #f3f3f3;
}

tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}

tbody tr:hover {
  color: #009879;
}


md-block pre{
  border: 1px solid #333;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem !important;
  line-height: 1.5rem !important;
}

md-block pre:hover{
  color: rgb(72, 26, 86);
}

.file-message pre{
  border: none;
  background: transparent !important;
}


.chat-input {
  display: flex;
  position: relative;
}

.chat-input textarea {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  resize: vertical;
  min-height: 120px;
  line-height: 1.5;
  margin-right: .5rem;
  border-radius: .5rem;
  border: 1px solid #333;
}

.input-options{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0 0 0;
}

.input-options img{
  width: 1.5rem;
}

.input-options > *{
  font-size: 1rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  height: fit-content;
  border-radius: .5rem;
}

.disabled{
  opacity: 50%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sessions {
    width: 100%;
    max-height: 200px;
  }
}

.preview-container{
  display: flex;
  overflow-x: scroll;

}


.file-preview {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin: 0 0.3rem .6rem .3rem;
}

.file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.file-preview .file-icon {
  width: 40px;
  height: 40px;
  color: #555;
}

.file-preview .file-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#models-btn{
  position: relative;
}

#model-name-label{
  position: absolute;
  top: -1px;
  right: 30px;
  background: #333;
  border-radius: 1rem;
  color: #fff;
  padding: .2rem .5rem;
  transition: .5s linear;
  width: max-content;
}

.model-label-hidden{
  opacity: 0;
  right: 24px !important;
}


#model-selector{
  display: none;
  position: absolute;
  border: 2px solid #333;
  border-radius: .5rem;
  right: 40px;
  bottom: 20px;
  background: #fff;
  width: max-content;
  height: 18rem;
  overflow: scroll;
}

.list{
  min-width: 18rem;
  margin: 0;
}

#model-selector h2{
  background: #333;
  padding: .5rem 0;
  text-align: center;
  color: #fff;
  position: sticky;
  top: 0;
}

#model-selector tr{
  border-bottom: 1px #333 solid;
}

.list > tbody:nth-child(odd){
  background: #f3f3f3;
}

#model-selector td{
  padding: 0;
}

#model-selector button{
  border: none;
  background: none;
  width: 100%;
  font-size: medium;
  height: 2.5rem;
  cursor: pointer;
}

.selected-model{
  font-weight: bold;
  color: #a818f0;
}