* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.btn {
  background-color: #a818f0;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.7rem;
}

.red-btn {
  background-color: #f44336;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sessions {
  width: 300px;
  background-color: #f0f0f0;
  padding: 1rem;
  overflow-y: auto;
}

.sessions h2 {
  margin-bottom: 1rem;
}

.search-bar {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
}


.session-list {
  list-style-type: none;
}

.session-list li {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.session-list li:hover {
  background-color: #e0e0e0;
}

.session-title {
  font-weight: bold;
}

.session-timestamp {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #666;
}


.session-timestamp button{
  border: none;
  background: none;
  cursor: pointer;
}

.session-timestamp button img{
  width: 1rem;
}

.new-session-prompt{
  flex-grow: 1;
  height: max-content;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
}

.new-session-prompt input {
  flex-grow:2;

  border-radius: .5rem;
  height: 3rem;
  border: 2px solid #333;
  font-size: x-large;
  padding: .5rem;
}

.new-session-prompt h1{
  font-size: 3.5rem;
  padding: .5rem;
}

.new-session-prompt div{
  display: flex;
  padding: 0rem 10%;
  flex-grow: 1;
  width: 70%;
}


.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 1rem;
  padding: 1.3rem 1.3rem;
  border-radius: 1rem;
  width: fit-content;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}


.user-message {
  background-color: #e6f2ff;
  text-align: right;
  align-self: end;
}

.file-message{
  background-color: #e6f2ff;
  align-self: end;
}
.file-message > div{
  max-height: 20rem !important;
  height: 20rem !important;
  overflow: scroll ;
}

.bot-message {
  background-color: #f0f0f0;
}

.message > *{
  padding: .2rem;
  line-height: 1.4rem;
}

.message li{
  margin-left: 2rem;
}

.message > h1{
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.message > h2{
  padding-top: .5rem;
}

.message > :first-child{
  padding-top: 0;
}

table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr{
  background: #009879;
  color: #ffffff;
  text-align: left;
}

tr > th{
  background: #b463dd;
  border-bottom: 1px solid black;
  font-size: large;
}


th, td{
  padding: 12px 15px;
}

tbody tr{
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even){
  background: #f3f3f3;
}

tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}

tbody tr:hover {
  color: #009879;
}


md-block pre{
  border: 1px solid #333;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem !important;
  line-height: 1.5rem !important;
}

md-block pre:hover{
  color: rgb(72, 26, 86);
}

.file-message pre{
  border: none;
  background: transparent !important;
}


.chat-input {
  display: flex;
}

.chat-input textarea {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  resize: vertical;
  min-height: 120px;
  line-height: 1.5;
  margin-right: .5rem;
  border-radius: .5rem;
  border: 1px solid #333;
}

.input-options{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .5rem;
}

.input-options img{
  width: 1.5rem;
}

.input-options > *{
  font-size: 1rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  height: fit-content;
  border-radius: .5rem;
}

.disabled{
  opacity: 50%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sessions {
    width: 100%;
    max-height: 200px;
  }
}
