<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="public, max-age=31536000">
    <meta http-equiv="Expires" content="Fri, 31 Dec 2025 23:59:59 GMT">
    <title>Nexus</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1>Nexus GPT</h1>
      <div>
        <button class="btn" onclick="hidechat()">New Chat</button>
        <button class="btn red-btn" onclick="deleteSession()">
          Delete Chat
        </button>
      </div>
    </nav>
    <div class="container">
      <div class="sessions">
        <input
          type="text"
          class="search-bar"
          id="sessionSearch"
          placeholder="Search sessions..."
        />
        <ul class="session-list" id="sessionList"></ul>
      </div>
      <div class="new-session-prompt" id="new-session-prompt">
        <h1>Start a new Chat</h1>
        <div>
            <input type="text" id="title-inp" placeholder="Enter a title" />
            <button class="btn" onclick="createSession()">start chat</button>
        </div>
      </div>
      <div class="chat-container" id="chat-container">
        <div class="chat-messages" id="chatMessages"></div>
        <div class="chat-input">
          <textarea
            id="userInput"
            placeholder="Type your message..."
          ></textarea>
          <div class="input-options">
            <input type="file" id="fileInput" multiple hidden>
            <label for="fileInput" class="file-inp-label">
              <img src="../static/assets/files.png" alt="" />
            </label>
            
            <button onclick="sendMessage()" id="send-btn" class="send-btn">
              <img src="../static/assets/send.png" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>        
    <!-- <script type="module" src="https://md-block.verou.me/md-block.js"></script> -->
    <script type="module" src="{{ url_for('static', filename='libs/md-block.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
  </body>
</html>
